<!-- Hard coded navbar -->

<div class="navbar">
    <div class="container">
      <div class="row justify-content-between align-items-center py-2 header">
        <!-- Logo Section -->
        <div class="col-auto">Logo</div>
  
        <!-- Buttons Section -->
        <div class="col-auto">
          <!-- Large and Medium Screens -->
          <div class="d-none d-md-flex flex-wrap gap-5">
            <button mat-icon-button matTooltip="Favorite" class="d-lg-none">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-button class="d-none d-lg-inline-flex">
              <mat-icon class="me-2">favorite</mat-icon> Favorite
            </button>
            
            <button mat-icon-button matTooltip="Share" class="d-lg-none">
              <mat-icon>share</mat-icon>
            </button>
            <button mat-button class="d-none d-lg-inline-flex">
              <mat-icon class="me-2">share</mat-icon> Share
            </button>
            
            <button mat-icon-button matTooltip="Settings" class="d-lg-none">
              <mat-icon>settings</mat-icon>
            </button>
            <button mat-button class="d-none d-lg-inline-flex">
              <mat-icon class="me-2">settings</mat-icon> Settings
            </button>
          </div>
  
          <!-- Small Screens -->
          <div class="d-flex d-md-none">
            <button mat-icon-button matTooltip="Menu" (click)="toggleMenu()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
        </div>
      </div>
  
      <!-- Dropdown Menu for Small Screens -->
      <div *ngIf="isMenuOpen" class="dropdown-menu p-2">
        <button mat-menu-item>
          <mat-icon>favorite</mat-icon> Favorite
        </button>
        <button mat-menu-item>
          <mat-icon>share</mat-icon> Share
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon> Settings
        </button>
      </div>
    </div>
  </div>
  

<!-- Material Header -->
<!-- <mat-toolbar class="header-navbar">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Prop_M</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
    <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>settings</mat-icon>
  </button>
  </mat-toolbar> -->
