@use '../../colors-fonts.scss';

.example-spacer {
  flex: 1 1 auto;
}
.header {
  width: 100%;
}
.header-navbar {
  background-color: var(--primary-bg-color);
  color: var(--primary-bg-text-color);
}

.dropdown-menu {
  background-color: var(--background-color);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  mat-icon {
    vertical-align: middle;
  }
}
